.overViewContainer {    
    display: flex;
    justify-content: flex-start;

    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.resetter {
    margin-left: 20px;
}

.resetBrushButton {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(119, 136, 153, 0.6);
    font-size: 0.75rem;
    margin: 0 3px 3px 0;
    cursor: pointer;
    margin-right: 15px;
    min-width: 50px;
    text-align: center;
}